#hotel_cards {
    display: grid;
    gap: 35px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    width: 85%;
    margin: 50px auto;
}

.info_in_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
    font-size: 15px;
}

.viewBtn {
    flex: 1;
    background: #608dec !important;
    color: white !important;
    border-radius: 12px !important;
    transition: all 0.3s ease;
}

.viewBtn:hover {
    background: #0b5ed7 !important;
    transform: translateY(-2px);
}

.saveBtn {
    flex: 1;
    background: #e78383 !important;
    color: white !important;
    border-radius: 12px !important;
    transition: all 0.3s ease;
}

.saveBtn:hover {
    background: #e63946 !important;
    transform: translateY(-2px);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: auto;
    padding-top: 20px;
}

@media (max-width:1000px) {
    #hotel_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    #hotel_cards {
        grid-template-columns: repeat(1, 1fr);
    }
}